* {
    box-sizing: border-box;
}

body {
    margin: 0 0 !important;
    padding: 0 0 !important;
    background-color: #f2f1ed;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    flex-direction: column;
    margin: 0 auto;
}

section {
    position: relative;
    padding: 120px 0px;
}

.main-header {
    height: 70vh;
    display: flex;
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.main-header-content {
    text-align: center;
}

.main-header-content h1{
    font-size: 4.2em;
    color: #007bff;
    text-transform: uppercase;
    margin: 0;
}

.main-header .main-header-content p {
    width: 100%;
    color: #333;
    font-size: 1.3em;
    margin: 40px 0;
    text-align: center;
}

.section-header {
    margin-bottom: 60px;
}

.button {
    display: inline-block;
    font-size: 1em;
    max-width: 50%;
    height: 50px;
    padding: 15px 15px;
    color: #333;
    text-decoration: none;
    border: #007bff solid 1px;
    background-color: transparent;
    text-transform: uppercase;
    transition: all .3s;
}

.button:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #007bff;
}

#collapsible-menu,
label[for="collapsible-menu"] {
    display: none;
}

.menu {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    position: relative;
    background-color: #007bff;
    width: 100%;
    /* height: 70px; */
    text-transform: uppercase;
}

.menu-item {
    margin: 0 10px;
    display: inline-block;
}

.menu-item a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: all .3s;
}

.menu-item a:hover {
    background-color: white;
    color: #007bff;
}


.dot {
    display: inline-block;
    height: 4px;
    width: 4px;
    background-color: #007bff;
    border-radius: 50%;
    transform: translate(0px, -5px);
}

.line {
    width: 70px;
    border: 1px solid #007bff;
    border-bottom: 0;
}

.section-header h2 {
    font-size: 1.9em;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.about {
    background-color: #ffffff;
    text-align: center;
}

.about-img {
    margin-bottom: 30px;
    border-radius: 50%;
}

.about p {
    color: #777;
    max-width: 700px;
    line-height: 1.4;
}

.about .button {
    margin-top: 40px;
}

.portfolio {
    position: relative;
}

.portfolio-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.portfolio-element {
    position: relative;
    width: 25%;
    max-width: 100%;
}

.portfolio-element > img {
    width: 100%;
    height: 100%;
}

.portfolio-element h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #007bffcc;
    color: #ffffff;
    text-align: center;
    line-height: 200px;
    font-weight: 300;
    font-size: 3em;
    opacity: 0;
}

.portfolio-element h3:hover {
    opacity: 1;
    transition: all 0.4s;
}

.contact {
    background-color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 700px;
    width: 70%;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    width: 48%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

input[type="text"] {
    margin: 0px 15px 15px 0px;
}

input[type="email"] {
    margin: 0px 0px 15px 10px;
}

#message
{
    width: 100%;
    height: 120px;
    margin: 0px 0px 15px 0px;
    padding: 10px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

.social-media {
    width: 100%;
    text-align: center;
    padding: 15px;
}

.social {
    display: inline-block;
    text-align: center;
    color: #007bff;
    justify-content: space-around;
    margin: 60px 20px 0px 20px;
    font-size: 2.3em;
    transition: all .3s;
}

.social-media i:hover {
    color: #777;
    transition: all .3s;
}

footer {
    height: 10vh;
    width: 100%;
    padding: 20px 20px;
    text-align: center;
    color: #777;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 992px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 768px;
    }

    .portfolio-element {
        width: 50%;
    }

    input[type="email"] {
        width: 48%;
        margin: 15px 0px 15px 0px;
    }

    input[type="text"] {
        width: 48%;
        margin: 15px 15px 15px 0px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 95%;
    }

    .portfolio-element {
        width: 100%;
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;
        margin: 0px 0px 15px 0px;
    }
}

@media screen and (max-width: 480px) {

    body {
        max-width: 95%;
    }

    .main-header .main-header-content h1 {
        font-size: 3em;
    }

    .about-img {
        max-height: 250px;
        max-width: 250px;
    }

    .menu {
        height: 70px;
        position: relative;
    }

    .menu ul {
        display: none;
    }

    label[for="collapsible-menu"] {
        display: block;
        text-align: right;
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        padding: 15px 15px;
        cursor: pointer;
        color: #ffffff;
        font-size: 1.5em;
    }

    #collapsible-menu:checked + ul {
        display: block;
        width: 100%;
        background-color: #007bff;
        position: absolute;
        bottom: 50px;
        right: 0;
    }

    #collapsible-menu:checked ~ ul .menu-item {
        display: block;
        text-align: right;
        padding: 10px 0px;
        margin: 0;
    }

    #collapsible-menu:checked ~ ul .menu-item a {
        margin-right: -10px;
    }

    .button {
        font-size: 0.9em;
        padding: 15px 15px;
        overflow: hidden;
    }
}